adobe-letter-spacing(value)
	letter-spacing (value/1000)em

clearfix()
	&:before,
	&:after
		content " "
		display table
	&:after
		clear both

spriteIcon($icon, $setCenter = false)
	$iconName = '$' + $icon[9]
	retinaSprite(lookup($iconName + '_group'))
	if $setCenter
		position absolute
		left 50%
		top 50%
		margin-left 0-(lookup($iconName + '_width') / 2)
		margin-top 0-(lookup($iconName + '_height') / 2)
