.button--style-a
	font-size 12px
	display inline-block
	background #f90b7d
	color #fff
	padding 13px 20px
	text-transform uppercase
	text-decoration none
	border 0
	cursor pointer
	min-width 162px


@media screen and (max-width: ($desktopContentWidth - 1))
	//


@media screen and (max-width: ($tabletContentWidth - 1))
	//
