@require "../mixins/variables.styl"

.footer
	margin-top -($desktopFooterHeight)
	height $desktopFooterHeight
	position: relative;
	z-index: 1;
	color #fff
	background #333e48
	font-size 14px
	line-height 20px

	&-menu
		text-align center
		padding 38px 0 35px 0

		&__item
			color #fff
			text-transform uppercase
			font-size 14px
			font-weight bold
			text-decoration none
			padding 0 30px

			&--active,
			&:hover
				color #c8db3f

	&__hr
		border-top 1px solid #414e5a

	&__logo
		float left
		width 122px
		padding 44px 0 0 24px

		&-link
			display block
			retinaSprite($logo_white_group)

			&:hover
				retinaSprite($logo_white_hover_group)

	&__address
		float left
		width 300px
		padding 40px 0 0 0

	&__contacts
		float left
		width 557px
		padding 35px 0 0 0

		&-img
			float left
			width 63px

		&-text
			float left
			width 494px
			padding-top 7px

		&-email
			a
				color #c8db3f

				&:hover
					color #fff

		&-phone
			margin-top 4px

	&__fb
		padding-top 48px
		float left
		width 49px

		&-link
			display block
			retinaSprite($fb_group)

	&__ratio
		padding-top 43px
		float left
		width 132px

		&-link
			display block
			retinaSprite($ratio_group)


@media screen and (max-width: ($desktopContentWidth - 1))
	.footer
		height auto
		padding-bottom: 50px

		&__logo
			padding 50px 0 0 30px
			width 92px

		&__address
			padding 50px 0 0 0

		&__contacts
			clear left
			margin-left 30px

			&-text
				padding-top 0

		&__fb
			padding 30px 0 0 50px
			clear left

		&__ratio
			padding 30px 0 0 44px


@media screen and (max-width: ($tabletContentWidth - 1))
	.footer
		padding-bottom: 30px

		&-menu
			display none

		&__logo
			padding 30px 0 0 15px
			width auto

		&__address
			padding 30px 0 0 15px
			width auto

		&__contacts
			margin-left 0
			padding 15px 0 0 15px
			float none
			width auto
			clear left

			&-img
				width 66px

			&-text
				width 250px
				padding-top 5px

		&__fb
			padding 21px 0 0 15px
			width auto
			clear left

		&__ratio
			padding 15px 0 0 15px
			width auto
