.hero.owl-carousel

		&.owl-theme

			.owl-nav
				position absolute
				width 100%
				margin-top 0
				text-align left

				[class*='owl-']
					width 12px
					height 20px
					text-indent 12px
					overflow hidden
					position absolute
					top -311px

				.owl-prev
					left 10px

				.owl-next
					right 10px

				.owl-prev:hover,
				.owl-prev
					background-color transparent
					retinaSprite($carousel_arrow_left_white_group)

				.owl-next:hover,
				.owl-next
					background-color transparent
					retinaSprite($carousel_arrow_right_white_group)

			.owl-dots
				position absolute
				margin-top -40px
				width 100%

				.owl-dot

					span
						background transparent
						border 2px solid #fff
						width 12px
						height 12px
						margin 5px

					&.active

						span
							background #fff

@media screen and (max-width: ($desktopContentWidth - 1))
	.hero.owl-carousel

			&.owl-theme

				.owl-nav

					[class*='owl-']
						top -225px

				.owl-dots
					margin-top -35px


@media screen and (max-width: ($tabletContentWidth - 1))
	.hero.owl-carousel

			&.owl-theme

				.owl-nav

					[class*='owl-']
						top -182px
