/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$carousel_arrow_left_name = 'carousel_arrow_left';
$carousel_arrow_left_x = 91px;
$carousel_arrow_left_y = 103px;
$carousel_arrow_left_offset_x = -91px;
$carousel_arrow_left_offset_y = -103px;
$carousel_arrow_left_width = 12px;
$carousel_arrow_left_height = 20px;
$carousel_arrow_left_total_width = 177px;
$carousel_arrow_left_total_height = 170px;
$carousel_arrow_left_image = '../images/sprite.png';
$carousel_arrow_left = 91px 103px -91px -103px 12px 20px 177px 170px '../images/sprite.png' 'carousel_arrow_left';
$carousel_arrow_left_white_name = 'carousel_arrow_left_white';
$carousel_arrow_left_white_x = 109px;
$carousel_arrow_left_white_y = 39px;
$carousel_arrow_left_white_offset_x = -109px;
$carousel_arrow_left_white_offset_y = -39px;
$carousel_arrow_left_white_width = 12px;
$carousel_arrow_left_white_height = 20px;
$carousel_arrow_left_white_total_width = 177px;
$carousel_arrow_left_white_total_height = 170px;
$carousel_arrow_left_white_image = '../images/sprite.png';
$carousel_arrow_left_white = 109px 39px -109px -39px 12px 20px 177px 170px '../images/sprite.png' 'carousel_arrow_left_white';
$carousel_arrow_right_name = 'carousel_arrow_right';
$carousel_arrow_right_x = 77px;
$carousel_arrow_right_y = 103px;
$carousel_arrow_right_offset_x = -77px;
$carousel_arrow_right_offset_y = -103px;
$carousel_arrow_right_width = 12px;
$carousel_arrow_right_height = 20px;
$carousel_arrow_right_total_width = 177px;
$carousel_arrow_right_total_height = 170px;
$carousel_arrow_right_image = '../images/sprite.png';
$carousel_arrow_right = 77px 103px -77px -103px 12px 20px 177px 170px '../images/sprite.png' 'carousel_arrow_right';
$carousel_arrow_right_white_name = 'carousel_arrow_right_white';
$carousel_arrow_right_white_x = 109px;
$carousel_arrow_right_white_y = 61px;
$carousel_arrow_right_white_offset_x = -109px;
$carousel_arrow_right_white_offset_y = -61px;
$carousel_arrow_right_white_width = 12px;
$carousel_arrow_right_white_height = 20px;
$carousel_arrow_right_white_total_width = 177px;
$carousel_arrow_right_white_total_height = 170px;
$carousel_arrow_right_white_image = '../images/sprite.png';
$carousel_arrow_right_white = 109px 61px -109px -61px 12px 20px 177px 170px '../images/sprite.png' 'carousel_arrow_right_white';
$fb_name = 'fb';
$fb_x = 0px;
$fb_y = 148px;
$fb_offset_x = 0px;
$fb_offset_y = -148px;
$fb_width = 9px;
$fb_height = 22px;
$fb_total_width = 177px;
$fb_total_height = 170px;
$fb_image = '../images/sprite.png';
$fb = 0px 148px 0px -148px 9px 22px 177px 170px '../images/sprite.png' 'fb';
$logo_name = 'logo';
$logo_x = 134px;
$logo_y = 45px;
$logo_offset_x = -134px;
$logo_offset_y = -45px;
$logo_width = 43px;
$logo_height = 43px;
$logo_total_width = 177px;
$logo_total_height = 170px;
$logo_image = '../images/sprite.png';
$logo = 134px 45px -134px -45px 43px 43px 177px 170px '../images/sprite.png' 'logo';
$logo_big_name = 'logo_big';
$logo_big_x = 0px;
$logo_big_y = 39px;
$logo_big_offset_x = 0px;
$logo_big_offset_y = -39px;
$logo_big_width = 62px;
$logo_big_height = 62px;
$logo_big_total_width = 177px;
$logo_big_total_height = 170px;
$logo_big_image = '../images/sprite.png';
$logo_big = 0px 39px 0px -39px 62px 62px 177px 170px '../images/sprite.png' 'logo_big';
$logo_hover_name = 'logo_hover';
$logo_hover_x = 0px;
$logo_hover_y = 103px;
$logo_hover_offset_x = 0px;
$logo_hover_offset_y = -103px;
$logo_hover_width = 43px;
$logo_hover_height = 43px;
$logo_hover_total_width = 177px;
$logo_hover_total_height = 170px;
$logo_hover_image = '../images/sprite.png';
$logo_hover = 0px 103px 0px -103px 43px 43px 177px 170px '../images/sprite.png' 'logo_hover';
$logo_white_name = 'logo_white';
$logo_white_x = 134px;
$logo_white_y = 0px;
$logo_white_offset_x = -134px;
$logo_white_offset_y = 0px;
$logo_white_width = 43px;
$logo_white_height = 43px;
$logo_white_total_width = 177px;
$logo_white_total_height = 170px;
$logo_white_image = '../images/sprite.png';
$logo_white = 134px 0px -134px 0px 43px 43px 177px 170px '../images/sprite.png' 'logo_white';
$logo_white_hover_name = 'logo_white_hover';
$logo_white_hover_x = 64px;
$logo_white_hover_y = 39px;
$logo_white_hover_offset_x = -64px;
$logo_white_hover_offset_y = -39px;
$logo_white_hover_width = 43px;
$logo_white_hover_height = 43px;
$logo_white_hover_total_width = 177px;
$logo_white_hover_total_height = 170px;
$logo_white_hover_image = '../images/sprite.png';
$logo_white_hover = 64px 39px -64px -39px 43px 43px 177px 170px '../images/sprite.png' 'logo_white_hover';
$ratio_name = 'ratio';
$ratio_x = 0px;
$ratio_y = 0px;
$ratio_offset_x = 0px;
$ratio_offset_y = 0px;
$ratio_width = 132px;
$ratio_height = 37px;
$ratio_total_width = 177px;
$ratio_total_height = 170px;
$ratio_image = '../images/sprite.png';
$ratio = 0px 0px 0px 0px 132px 37px 177px 170px '../images/sprite.png' 'ratio';
$slideout_toggle_button_name = 'slideout_toggle_button';
$slideout_toggle_button_x = 45px;
$slideout_toggle_button_y = 103px;
$slideout_toggle_button_offset_x = -45px;
$slideout_toggle_button_offset_y = -103px;
$slideout_toggle_button_width = 30px;
$slideout_toggle_button_height = 21px;
$slideout_toggle_button_total_width = 177px;
$slideout_toggle_button_total_height = 170px;
$slideout_toggle_button_image = '../images/sprite.png';
$slideout_toggle_button = 45px 103px -45px -103px 30px 21px 177px 170px '../images/sprite.png' 'slideout_toggle_button';
$carousel_arrow_left_2x_name = 'carousel_arrow_left@2x';
$carousel_arrow_left_2x_x = 182px;
$carousel_arrow_left_2x_y = 206px;
$carousel_arrow_left_2x_offset_x = -182px;
$carousel_arrow_left_2x_offset_y = -206px;
$carousel_arrow_left_2x_width = 24px;
$carousel_arrow_left_2x_height = 40px;
$carousel_arrow_left_2x_total_width = 354px;
$carousel_arrow_left_2x_total_height = 340px;
$carousel_arrow_left_2x_image = '../images/sprite@2x.png';
$carousel_arrow_left_2x = 182px 206px -182px -206px 24px 40px 354px 340px '../images/sprite@2x.png' 'carousel_arrow_left@2x';
$carousel_arrow_left_white_2x_name = 'carousel_arrow_left_white@2x';
$carousel_arrow_left_white_2x_x = 218px;
$carousel_arrow_left_white_2x_y = 78px;
$carousel_arrow_left_white_2x_offset_x = -218px;
$carousel_arrow_left_white_2x_offset_y = -78px;
$carousel_arrow_left_white_2x_width = 24px;
$carousel_arrow_left_white_2x_height = 40px;
$carousel_arrow_left_white_2x_total_width = 354px;
$carousel_arrow_left_white_2x_total_height = 340px;
$carousel_arrow_left_white_2x_image = '../images/sprite@2x.png';
$carousel_arrow_left_white_2x = 218px 78px -218px -78px 24px 40px 354px 340px '../images/sprite@2x.png' 'carousel_arrow_left_white@2x';
$carousel_arrow_right_2x_name = 'carousel_arrow_right@2x';
$carousel_arrow_right_2x_x = 154px;
$carousel_arrow_right_2x_y = 206px;
$carousel_arrow_right_2x_offset_x = -154px;
$carousel_arrow_right_2x_offset_y = -206px;
$carousel_arrow_right_2x_width = 24px;
$carousel_arrow_right_2x_height = 40px;
$carousel_arrow_right_2x_total_width = 354px;
$carousel_arrow_right_2x_total_height = 340px;
$carousel_arrow_right_2x_image = '../images/sprite@2x.png';
$carousel_arrow_right_2x = 154px 206px -154px -206px 24px 40px 354px 340px '../images/sprite@2x.png' 'carousel_arrow_right@2x';
$carousel_arrow_right_white_2x_name = 'carousel_arrow_right_white@2x';
$carousel_arrow_right_white_2x_x = 218px;
$carousel_arrow_right_white_2x_y = 122px;
$carousel_arrow_right_white_2x_offset_x = -218px;
$carousel_arrow_right_white_2x_offset_y = -122px;
$carousel_arrow_right_white_2x_width = 24px;
$carousel_arrow_right_white_2x_height = 40px;
$carousel_arrow_right_white_2x_total_width = 354px;
$carousel_arrow_right_white_2x_total_height = 340px;
$carousel_arrow_right_white_2x_image = '../images/sprite@2x.png';
$carousel_arrow_right_white_2x = 218px 122px -218px -122px 24px 40px 354px 340px '../images/sprite@2x.png' 'carousel_arrow_right_white@2x';
$fb_2x_name = 'fb@2x';
$fb_2x_x = 0px;
$fb_2x_y = 296px;
$fb_2x_offset_x = 0px;
$fb_2x_offset_y = -296px;
$fb_2x_width = 18px;
$fb_2x_height = 44px;
$fb_2x_total_width = 354px;
$fb_2x_total_height = 340px;
$fb_2x_image = '../images/sprite@2x.png';
$fb_2x = 0px 296px 0px -296px 18px 44px 354px 340px '../images/sprite@2x.png' 'fb@2x';
$logo_2x_name = 'logo@2x';
$logo_2x_x = 268px;
$logo_2x_y = 90px;
$logo_2x_offset_x = -268px;
$logo_2x_offset_y = -90px;
$logo_2x_width = 86px;
$logo_2x_height = 86px;
$logo_2x_total_width = 354px;
$logo_2x_total_height = 340px;
$logo_2x_image = '../images/sprite@2x.png';
$logo_2x = 268px 90px -268px -90px 86px 86px 354px 340px '../images/sprite@2x.png' 'logo@2x';
$logo_big_2x_name = 'logo_big@2x';
$logo_big_2x_x = 0px;
$logo_big_2x_y = 78px;
$logo_big_2x_offset_x = 0px;
$logo_big_2x_offset_y = -78px;
$logo_big_2x_width = 124px;
$logo_big_2x_height = 124px;
$logo_big_2x_total_width = 354px;
$logo_big_2x_total_height = 340px;
$logo_big_2x_image = '../images/sprite@2x.png';
$logo_big_2x = 0px 78px 0px -78px 124px 124px 354px 340px '../images/sprite@2x.png' 'logo_big@2x';
$logo_hover_2x_name = 'logo_hover@2x';
$logo_hover_2x_x = 0px;
$logo_hover_2x_y = 206px;
$logo_hover_2x_offset_x = 0px;
$logo_hover_2x_offset_y = -206px;
$logo_hover_2x_width = 86px;
$logo_hover_2x_height = 86px;
$logo_hover_2x_total_width = 354px;
$logo_hover_2x_total_height = 340px;
$logo_hover_2x_image = '../images/sprite@2x.png';
$logo_hover_2x = 0px 206px 0px -206px 86px 86px 354px 340px '../images/sprite@2x.png' 'logo_hover@2x';
$logo_white_2x_name = 'logo_white@2x';
$logo_white_2x_x = 268px;
$logo_white_2x_y = 0px;
$logo_white_2x_offset_x = -268px;
$logo_white_2x_offset_y = 0px;
$logo_white_2x_width = 86px;
$logo_white_2x_height = 86px;
$logo_white_2x_total_width = 354px;
$logo_white_2x_total_height = 340px;
$logo_white_2x_image = '../images/sprite@2x.png';
$logo_white_2x = 268px 0px -268px 0px 86px 86px 354px 340px '../images/sprite@2x.png' 'logo_white@2x';
$logo_white_hover_2x_name = 'logo_white_hover@2x';
$logo_white_hover_2x_x = 128px;
$logo_white_hover_2x_y = 78px;
$logo_white_hover_2x_offset_x = -128px;
$logo_white_hover_2x_offset_y = -78px;
$logo_white_hover_2x_width = 86px;
$logo_white_hover_2x_height = 86px;
$logo_white_hover_2x_total_width = 354px;
$logo_white_hover_2x_total_height = 340px;
$logo_white_hover_2x_image = '../images/sprite@2x.png';
$logo_white_hover_2x = 128px 78px -128px -78px 86px 86px 354px 340px '../images/sprite@2x.png' 'logo_white_hover@2x';
$ratio_2x_name = 'ratio@2x';
$ratio_2x_x = 0px;
$ratio_2x_y = 0px;
$ratio_2x_offset_x = 0px;
$ratio_2x_offset_y = 0px;
$ratio_2x_width = 264px;
$ratio_2x_height = 74px;
$ratio_2x_total_width = 354px;
$ratio_2x_total_height = 340px;
$ratio_2x_image = '../images/sprite@2x.png';
$ratio_2x = 0px 0px 0px 0px 264px 74px 354px 340px '../images/sprite@2x.png' 'ratio@2x';
$slideout_toggle_button_2x_name = 'slideout_toggle_button@2x';
$slideout_toggle_button_2x_x = 90px;
$slideout_toggle_button_2x_y = 206px;
$slideout_toggle_button_2x_offset_x = -90px;
$slideout_toggle_button_2x_offset_y = -206px;
$slideout_toggle_button_2x_width = 60px;
$slideout_toggle_button_2x_height = 42px;
$slideout_toggle_button_2x_total_width = 354px;
$slideout_toggle_button_2x_total_height = 340px;
$slideout_toggle_button_2x_image = '../images/sprite@2x.png';
$slideout_toggle_button_2x = 90px 206px -90px -206px 60px 42px 354px 340px '../images/sprite@2x.png' 'slideout_toggle_button@2x';
$spritesheet_width = 177px;
$spritesheet_height = 170px;
$spritesheet_image = '../images/sprite.png';
$spritesheet_sprites = $carousel_arrow_left $carousel_arrow_left_white $carousel_arrow_right $carousel_arrow_right_white $fb $logo $logo_big $logo_hover $logo_white $logo_white_hover $ratio $slideout_toggle_button;
$spritesheet = 177px 170px '../images/sprite.png' $spritesheet_sprites;
$retina_spritesheet_width = 354px;
$retina_spritesheet_height = 340px;
$retina_spritesheet_image = '../images/sprite@2x.png';
$retina_spritesheet_sprites = $carousel_arrow_left_2x $carousel_arrow_left_white_2x $carousel_arrow_right_2x $carousel_arrow_right_white_2x $fb_2x $logo_2x $logo_big_2x $logo_hover_2x $logo_white_2x $logo_white_hover_2x $ratio_2x $slideout_toggle_button_2x;
$retina_spritesheet = 354px 340px '../images/sprite@2x.png' $retina_spritesheet_sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retinaSprite` and `retinaSprites`.
*/
$carousel_arrow_left_group_name = 'carousel_arrow_left';
$carousel_arrow_left_group = 'carousel_arrow_left' $carousel_arrow_left $carousel_arrow_left_2x;
$carousel_arrow_left_white_group_name = 'carousel_arrow_left_white';
$carousel_arrow_left_white_group = 'carousel_arrow_left_white' $carousel_arrow_left_white $carousel_arrow_left_white_2x;
$carousel_arrow_right_group_name = 'carousel_arrow_right';
$carousel_arrow_right_group = 'carousel_arrow_right' $carousel_arrow_right $carousel_arrow_right_2x;
$carousel_arrow_right_white_group_name = 'carousel_arrow_right_white';
$carousel_arrow_right_white_group = 'carousel_arrow_right_white' $carousel_arrow_right_white $carousel_arrow_right_white_2x;
$fb_group_name = 'fb';
$fb_group = 'fb' $fb $fb_2x;
$logo_group_name = 'logo';
$logo_group = 'logo' $logo $logo_2x;
$logo_big_group_name = 'logo_big';
$logo_big_group = 'logo_big' $logo_big $logo_big_2x;
$logo_hover_group_name = 'logo_hover';
$logo_hover_group = 'logo_hover' $logo_hover $logo_hover_2x;
$logo_white_group_name = 'logo_white';
$logo_white_group = 'logo_white' $logo_white $logo_white_2x;
$logo_white_hover_group_name = 'logo_white_hover';
$logo_white_hover_group = 'logo_white_hover' $logo_white_hover $logo_white_hover_2x;
$ratio_group_name = 'ratio';
$ratio_group = 'ratio' $ratio $ratio_2x;
$slideout_toggle_button_group_name = 'slideout_toggle_button';
$slideout_toggle_button_group = 'slideout_toggle_button' $slideout_toggle_button $slideout_toggle_button_2x;
$retina_groups = $carousel_arrow_left_group $carousel_arrow_left_white_group $carousel_arrow_right_group $carousel_arrow_right_white_group $fb_group $logo_group $logo_big_group $logo_hover_group $logo_white_group $logo_white_hover_group $ratio_group $slideout_toggle_button_group;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `retinaSprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon_home_group = 'icon-home' $icon_home $icon_home_2x;

.icon-home {
  retinaSprite($icon_home_group)
}
*/
spriteBackgroundSize($sprite) {
  background-size: $sprite[6] $sprite[7];
}

retinaSprite($retina_group) {
  $normal_sprite = $retina_group[1];
  $retina_sprite = $retina_group[2];
  sprite($normal_sprite)

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    spriteImage($retina_sprite)
    spriteBackgroundSize($normal_sprite)
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}

/*
The `retinaSprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in Stylus

retinaSprites($retina_groups);
*/
retinaSprites($retina_groups) {
  for $retina_group in $retina_groups {
    $sprite_name = $retina_group[0];
    .{$sprite_name} {
      retinaSprite($retina_group);
    }
  }
}
